<div class="container">
    <!--<div class="card" style="width: 18rem; margin-top: 3rem;">
        <!--<div class="card-body">
            <h2 class="card-title">About Us</h2>
            <h6 class="card-subtitle mb-2 text-muted">All rights reversed. Copyright &copy; 2020</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/contact">Contact Us</a>
            <a href="#" class="card-link">Another link</a>
    </div>-->
    <div class="card text-center" style="margin-top: 3rem;">
        <div class="card-header">
            <h4>Welcome to HomeCar</h4>
        </div>
        <div class="card-body">
            <h6 class="card-title">A friendly rental service.</h6>
            <p class="card-text">We love to travel with family and friends. We bring the best ride experience and
                comfort with HomeCar. With cars that are carefully selected, we aim to give you a truly satisfying ride
                experience that you are sure to remember.</p>
            <a href="/signup" class="btn btn-primary">Register</a>
        </div>
        <div class="card-footer text-muted">
            <p>All rights reserved. Copyright &copy; 2020</p>
            <small>Design by PsychoNarc</small>
        </div>
    </div>
</div>