<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm" style="margin-top: 5rem;">
            <div class="heading-primary">
                <h2 class="center" style="color: white;">Welcome</h2>
            </div>
            <div class="heading-tertiary">
                <h2 class="center" style="color: white;">To</h2>
            </div>
            <div class="heading-secondary">
                <h2 class="center" style="color: white;">HomeCar</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row-2">
        <div class="col-sm-2"></div>
        <div class="col-sm" style="margin-top:3rem;">
            <h2 class="center">
                <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
                <a href="/displayLoginForm" class="btn btn-primary">Login with Email</a>
            </h2>
            <h5 class="center" style="margin-top: 1rem;">
                <a href="/signup" style="color: black;">Need an Account?</a>
            </h5>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<style>
    .row {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        width: 70rem;
        height: 25rem;
        background-image: url('/image/bg-home.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>