<div class="container">
    <div class="card" style="width: 18rem; margin-top: 3rem;">
        <img src="{{user.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title center">{{user.firstname}} {{user.lastname}}</h5>
            <div class="center">
                <a href="/listCar" class="btn btn-primary">List a Car</a>
                <a href="/showCars" class="btn btn-primary">Rent a Car</a>
            </div>
        </div>
    </div>
</div>