<div class="container" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-4">
            <h3 class="green">Success!</h3>
            <p class="green">Thank You for your payment</p>
            <p>Customer email: {{charge.source.name}}</p>
            <p>Amount: Rs.{{budjet.total}}</p>
            <p>Card Ending: {{charge.source.last4}}</p>
            <a href="/" class="btn btn-info">Go to Profile</a>
        </div>
        <div class="col-sm"></div>
    </div>
</div>